<%- include("./partials/header.ejs"); %>
    <div class="row">
      <div class="col-md-12" style="margin-top:5%">
        <div class="panel panel-default">
          <div class="panel-body">
            <p class="text-center">Welcome to Dashboard</p>
          </div>
        </div>
      </div>
    </div>

<%- include("./partials/footer.ejs"); %>